In [1]:
#!pip3 install mysql-connector-python
 # remove pip3 with pip depend on the version if error in the next cells

Requirement already satisfied: mysql-connector-python in c:\users\qifan\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\users\qifan\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [1]:
# importing required libraries
import mysql.connector
import pandas as pd

In [2]:
## Create a connection with mysql
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="Mengniu567.",
  database="world_x"  # JUST change the database to specify
)

In [3]:

mycursor = mydb.cursor()  ## prepare a cursor object
mycursor.execute("select * from countrylanguage where language='English'")  # in this quote, copy the SQL query
myresult = mycursor.fetchall()

In [4]:
query = "select * from countrylanguage where language='English'"  # same query as in my cursor
mycursor.execute(query)
myresult = mycursor.fetchall() # fetches all rows of a query result set and returns a list of tuples
df = pd.DataFrame(myresult)
df
len(df)

60

In [5]:
###List tables in the database
mycursor.execute("SELECT table_name FROM information_schema.tables WHERE table_schema = 'world_x'")

# Read and print tables
for table in [tables[0] for tables in mycursor.fetchall()]:
    print(table)

city
country
countryinfo
countrylanguage

In [6]:
mydb.close() # close the connection # some of them will timeout, but better to close it the connection.

In [7]:
# https://www.geeksforgeeks.org/python-mysql/

In [ ]:
# trying to create the new tables or databases to SQL from MYSQL